version: '2'
services:
    db:
        image: postgres
        ports:
          - "5432:5432"

    redis:
        image: redis
        ports:
          - "6379:6379"

    web:
        image: node:6.9.2-onbuild
        command: npm run dev
        volumes:
          - .:/usr/src/app/

    django:
        build: .
        image: techheroes/django
        command: python manage.py runserver 0.0.0.0:8000
        depends_on:
          - db
          - web
        volumes:
          - .:/src
        ports:
          - "8000:8000"
        env_file:
          - ./env/dev.txt

    worker:
        image: techheroes/django
        command: python manage.py qcluster
        depends_on:
          - db
          - redis
          - web
        volumes:
          - .:/src
        env_file:
          - ./env/dev.txt
