<!doctype html>
<html style="font-family: Arial, sans-serif; margin: 0; padding: 0;">

<head>
    <style>
@media all and ( max-width: 600px ) {
  table.wrapper {
    width: 100% !important;
  }
}
</style>
    <link href="email.css" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=0, width=device-width">
</head>

<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;">
    <table class="wrapper" style="border-collapse: collapse; font-family: Arial, sans-serif; margin: auto; max-width: 100%; width: 600px;" width="600">
        <tr>
            <td style="font-family: Arial, sans-serif;">

                <!-- Need to configure logo url -->
                <!-- <table class="header" style="background: #2c2440; border-collapse: collapse; color: #FFFFFF; display: block; font-family: Arial, sans-serif; font-size: 18px; text-align: center; width: 100%;">
                    <tr>
                        <td style="background: #2c2440; color: #FFFFFF; display: block; font-family: Arial, sans-serif; font-size: 18px; text-align: center; width: 100%;">
                            <img src="https://{{ static_host }}/build/images/email-logo.png" style="display: block;">
                        </td>
                    </tr>
                </table> -->

                <table class="main" style="border-collapse: collapse; display: block; font-family: Arial, sans-serif; width: 100%;">
                    <tr>
                        <td style="font-family: Arial, sans-serif; padding: 20px;">
                            <h1 style="color: #10183f; font-size: 20px; font-weight: normal; margin: 0; padding-bottom: 20px;">
                                {{ header }}
                            </h1>

                            {{ html_content }} <!-- use <p>tags<p> -->

                            <br><br>

                            {% if cta %}
                                <table class="button" style="background: #10183f; border-collapse: collapse; font-family: Arial, sans-serif; font-size: 16px; margin: auto; text-align: center;">
                                    <tr>
                                        <td style="background: #10183f; font-family: Arial, sans-serif; font-size: 18px; padding: 10px 20px; text-align: center;">
                                            <a href="{{ cta_link }}" style="color: #20f2ca; text-decoration: none;">
                                                {{ cta }}
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            {% endif %}
                        </td>
                    </tr>
                </table>

                <br><br>

                <table class="footer" style="border-collapse: collapse; color: #666; display: block; font-family: Arial, sans-serif; font-size: 9px; width: 100%;">
                    <tr>
                        <td style="border-top: 1px solid #AAA; font-family: Arial, sans-serif; padding: 10px 20px;">
                            If you do not want to receive these email messages, please <a href="{{ opt_out_url }}">click here to opt-out</a>. Please do not reply to this message; it was sent from an unmonitored email address. This message is from Tech Heroes.
                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</body>

</html>